include *.md
include LICENSE

include MANIFEST.in
include pyproject.toml
include setup.cfg
include setup.py
include .clang-format
include environment.yml

include CMakeLists.txt
include requirements.txt
graft include
graft src
graft egttools
graft pybind11

include .gitmodules
exclude pybind11/.git
graft cmake

graft res

include pytest.ini
graft tests

graft docs
prune docs/_build

global-exclude __pycache__
global-exclude *.py[co]
global-exclude .DS_Store
global-exclude .ipynb_checkpoints/*