Sphinx>=3.2.1
sphinx_rtd_theme>=0.5.1
sphinx-autodoc-typehints>1.12.0
sphinxcontrib-bibtex>=2.5.0

GitPython
PyGithub
requests

-r ../requirements.txt

ipykernel
ipywidgets
nbsphinx>=0.8.7
recommonmark>=0.7.1
docutils
prompt-toolkit


-r examples/requirements.txt