Sphinx>=3
sphinx_rtd_theme
sphinx-autodoc-typehints

GitPython
PyGithub
requests

-r ../requirements.txt

ipykernel
ipywidgets
nbsphinx
recommonmark
docutils<= 0.16
prompt-toolkit>= 3.0.21


-r examples/requirements.txt