name: Publish to Pypi
on:
  workflow_dispatch:
    inputs:
      version:
        description: 'Version upload to pypi'
        required: true
      pypi_repo:
        description: 'Repo to upload to (testpypi or pypi)'
        default: 'testpypi'
        required: true

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: '3.9'
      - name: Install dependencies
        run: |
          pip install -U wheelhouse_uploader pyyaml
      - name: Downloading wheels and sdist from staging
        uses: robinraju/release-downloader@v1.10
        with:
          repository: "Socrats/EGTtools"
          latest: true
          fileName: "*"
          out-file-path: "dist/"
      - name: Publish package to TestPyPI
        uses: pypa/gh-action-pypi-publish@v1.10.0
        with:
          user: __token__
          password: ${{ secrets.TEST_PYPI_API_TOKEN }}
          repository_url: https://test.pypi.org/legacy/
        if: ${{ github.event.inputs.pypi_repo == 'testpypi' }}
      - name: Publish package to PyPI
        uses: pypa/gh-action-pypi-publish@v1.10.0
        with:
          user: __token__
          password: ${{ secrets.PYPI_TOKEN }}
        if: ${{ github.event.inputs.pypi_repo == 'pypi' }}